
#title {

    background-image: linear-gradient(rgb(56, 53, 224),rgb(148, 82, 235)) !important;
}



/* Styling Navbar*/


.navbar-light .navbar-brand {
    color: white;
}
.navbar-brand {

    font-size: 30px !important;
    padding-left: 10%;
    font-weight: 600;
    /*color: white;*/
}

.navbar-nav .nav-link {
    
    font-size: 20px;
    text-transform: capitalize;
    color: white !important;
    font-weight: 500;
    opacity: 0.6;
    margin-left: 20px;

}


.navbar-nav .nav-link:hover {

    opacity: 1;

}

.nav-link{

    text-align: center;
}





/* Finish Styling Navbar*/



/* Styling Buttons*/

button {

    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10% !important;
}

.apple {

    background-color: #2b2a2a;
    border: 1px solid  #111111;
    margin-left: 20%;

}

.android {

   /*background-color: #2b2a2a;*/
   background-color: transparent;
    border: 1px solid  #f7f3f3;
    margin-left: 1%;

}





/*Finish Styling Buttons*/

/*Images*/



.rotate {
    background-color: transparent;
    padding-top: 10%;
    transform: rotate(30deg);
  }

  



.heading{
    color: white;
    padding: 4% 20%;
    font-weight:bolder;
    font-size: 40px;
}

#srow {
    
 --bs-gutter-x: 0rem;
}





.features {
    padding: 50px 0;
    
}



