



/* Styling Navbar*/


.navbar-light .navbar-brand {
    color: white;
}

.navbar-brand {

    font-size: 30px !important;
    padding-left: 10%;
    font-weight: 600;
}

.navbar-nav .nav-link {
    
    font-size: 20px;
    text-transform: capitalize;
    color: white !important;
    font-weight: 500;
    opacity: 0.6;
    margin-left: 20px;

}


.navbar-nav .nav-link:hover {

    opacity: 1;

}

.nav-link{

    text-align: center;
}



/* Finish Styling Navbar*/





/*Styling Titile */


#title {

    background-image: linear-gradient(rgb(56, 53, 224),rgb(148, 82, 235)) !important;
    max-height: 380px;
}



.heading{
    color: white;
    padding-bottom: 5%;
    font-weight:bolder;
    font-size: 40px;
}

.how-section1{
    margin-top:-15%;
    padding: 10%;
}

.how-section1 .row
{
    margin-top: 10%;
}
.how-img 
{
    text-align: center;
}
.how-img img{
    width: 50%;
}





/*Finish Styling Titile */




/* Styling Buttons*/

button {

    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10% !important;
}

.apple {

    background-color: #2b2a2a;
    border: 1px solid  #111111;

}


.android {

    background-color: transparent;
    border: 1px solid  #f7f3f3;

}


button:hover{
    background-color: white;
    color: black;

}



/*Finish Styling Buttons*/





/*Images*/


.rotate {
    background-color: transparent;
    transform: rotate(25deg);
  }


 @media (max-width:750px) {
    
    .col-md-6 img {
        transform: rotate(0);
      }

      #title {

        max-height: 1000px;
    }
        
    }

  
/*Finish Styling Images*/







/*Styling Features*/


.features {
    padding: 50px 0;
    position: relative;
    background-color: white;
}


.features i {
    
    background-color: white;
    color: rgb(148, 82, 235);
    padding: 20px;
    width: 300px;
    size: 20%;
    margin-bottom: 50px;
    font-size: 125px;
}


.features h3 {
    color: black;
    font-size: 30px;
    font-weight: bolder;
    
}


.features p {
    color:black;
    font-size: 15px;
    margin-bottom: 100px;
    font-weight: 600;
    
}




/* Finish Styling Features*/






/*Start Carousel*/


#testimonials {
    background-image: linear-gradient(rgb(56, 53, 224),rgb(148, 82, 235)) !important;
}


.carousel-item img {

    display: block;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 50%;


}

.carousel-item h2 {

    padding-top: 2%;
    margin: auto;
    width: 25%;
    padding-bottom: 2%;
    font-weight: bolder;

}


.carousel-item em {

    padding-left: 50%;
    color: white;

}

#press {
  
    display: flex;
    align-content: center;
    padding-bottom: 5%;
    padding-top: 5%;
}


#press img {

    width: 20%;
    height: 20%;
    margin: auto;
    display: block;



}



/*End Carousel*/






/*Styling Pricing */



.pricinghead h2 {

    padding-top: 5%;
    font-weight: bold;
}


#pricing {
    padding-bottom: 10%;
}


/*Finish Styling Pricing*/




/*Styling Cta*/

#cta {
    background-color:rgb(46, 24, 143);
    padding: 10%;
}

#cta h3 {
    font-weight: 900;
    font-size: 35px;
    color: white;
    padding-bottom: 5%;
}


#cta button {
   margin: auto;
   margin-right: 5%;
}



/*Finish Styling Cta*/



/*Styling Footer*/
#footer p {

    padding-top: 2%;
    font-weight: 500;
    font-size: 10px;
    padding-bottom: 4%;
}

.icons {
    padding-top: 10%;
}

.icons i {
    margin: 1.5%;
    color: black;
}


/*Finish Styling Footer*/




