
#title {

    background-image: linear-gradient(rgb(56, 53, 224),rgb(148, 82, 235)) !important;
}



/* Styling Navbar*/


.navbar-light .navbar-brand {
    color: white;
}
.navbar-brand {

    font-size: 30px !important;
    padding-left: 10%;
    font-weight: 600;
    /*color: white;*/
}

.navbar-nav .nav-link {
    
    font-size: 20px;
    text-transform: capitalize;
    color: white !important;
    font-weight: 500;
    opacity: 0.6;
    margin-left: 20px;

}


.navbar-nav .nav-link:hover {

    opacity: 1;

}

.nav-link{

    text-align: center;
}





/* Finish Styling Navbar*/


.heading{
    color: white;
    padding: 4% 10%;
    font-weight:bolder;
    font-size: 40px;
}